.navStyle {
  margin-top: 1rem;
  background-color: #222;
  padding: 1rem;
}

.list {
  
  display: flex;
  gap: 1.5rem;

  list-style: none;
  padding: 0;
  margin: 0;
}



.linkStyle a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

// mobile stuff
@media (max-width: 768px) {
  .list {
    flex-direction: column;
    gap: 0.75rem;
  }

}
